/* Tailwind Directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Smooth Scroll Behavior */
html {
  scroll-behavior: smooth;
}

/* Custom animation for scroll effect */
@keyframes slideIn {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.product-card.animate-slide-in {
  opacity: 1;
  animation: slideIn 0.7s ease-out forwards;
}

/* Styles for the wave effect and active tab */
nav button {
  border-radius: 5px;
  padding: 10px 15px;  /* Adjust padding for better spacing */
}

nav button.active-tab {
  transform: translateY(-10px);
}

/* Hover Effects */
nav button:hover {
  background-color: #4091D7; /* Hover background color */
}

/* Navigation Bar Styling */
.nav-container {
  height: 120px;
  display: flex;
  justify-content: center;
  position: relative;
}

.nav-bg {
  width: 100%;
  height: 100%;
  background-color: #4091D7;
  position: relative;
}

.nav-buttons {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.nav-button {
  flex: none;
  background-color: transparent;
  color: white;
  font-weight: bolder;
  text-align: center;
  padding: 10px 0;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
  width: calc(100% / 7);
}

.nav-button.active-tab {
  background: linear-gradient(to bottom, #2478cc, #aab8c4, #c3cbd2);
}

/* Loader CSS */
.loader {
  width: 60px;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side, #000 90%, #0000);
  background: 
    var(--_g) 0%   50%,
    var(--_g) 50%  50%,
    var(--_g) 100% 50%;
  background-size: calc(100%/3) 50%;
  animation: l3 1s infinite linear;
}

@keyframes l3 {
  20% { background-position: 0%   0%, 50%  50%, 100%  50%; }
  40% { background-position: 0% 100%, 50%   0%, 100%  50%; }
  60% { background-position: 0%  50%, 50% 100%, 100%   0%; }
  80% { background-position: 0%  50%, 50%  50%, 100% 100%; }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* home */
.home-page {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 300px; /* Adjust height as needed */
}

.image-carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.image-track {
  display: flex;
  width: calc(200px * 8 + 40px * 8); /* Adjusted to accommodate increased gap */
  animation: scroll 20s linear infinite;
}

.image-card {
  flex-shrink: 0;
  width: 200px; /* Fixed width */
  height: 200px; /* Fixed height */
  margin-right: 100px; /* Increased gap between images */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.carousel-image {
  object-fit: cover; /* Ensures images fill the container without distortion */
  width: 100%; /* Ensures image width matches the container */
  height: 100%; /* Ensures image height matches the container */
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%); /* Scrolls to half the width of the entire image set to loop */
  }
}
